{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Waiting {% endblock %}

{% block body %}
    <h3>Waiting page</h3>

    <div>
        <ul>
            {% for tag in tags %}
                <li>{{ tag.name }}</li>
            {% else %}
                <li>No tags.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}